//
//  example.xcconfig
//  TWAQI
//
//  Created by kf on 22/10/19.
//  Copyright © 2019 kf. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Please copy the file and rename to debug.xcconfig and release.xcconfig

// APIs
// TODO: handle for the demo
API_DOMAIN =
FORECAST_API = https:\/\/firebasestorage.googleapis.com/v0/b/kf-twaqi.appspot.com/o/aqfn.json?alt=media&token=e790ed5f-a6aa-4b50-8473-98e68186d11b
HISTORY_API = https:\/\/firebasestorage.googleapis.com/v0/b/kf-twaqi.appspot.com/o/history.json?alt=media&token=4ff87ac5-e117-4149-9257-4784aea2fdbe
CUSTOM_AD_API = https:\/\/firebasestorage.googleapis.com/v0/b/kf-twaqi.appspot.com/o/custom_ad.json?alt=media&token=5164b9ad-e530-48c7-b20f-1dc030b05565

// Services
AppCenterSecret =
AppCenterAppSecret =
BugsnagApiKey =
GADApplicationIdentifier =
GMSServicesApiKey =
OneSignalAppId =
SentryDSN =

// AdMob AdUnitId
AdUnitIdMainFooter = ca-app-pub-3940256099942544/2934735716
AdUnitIdDetailsListFooter = ca-app-pub-3940256099942544/2934735716
AdUnitIdDetailsFooter = ca-app-pub-3940256099942544/2934735716
AdUnitIdForecastFooter = ca-app-pub-3940256099942544/2934735716
AdUnitIdSettingsFooter = ca-app-pub-3940256099942544/2934735716
AdUnitIdHelpFooter = ca-app-pub-3940256099942544/2934735716

// In-App Purchase
InAppPurchaseProductId = test

// Links
FeedbackUrlZh = http:\/\/example.com/
FeedbackUrlEn = http:\/\/example.com/
PartnerUrlZh = http:\/\/example.com/
PartnerUrlEn = http:\/\/example.com/
BetaTesterUrl = http:\/\/example.com/
