<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdUnitIdDetailsFooter</key>
	<string>$(AdUnitIdDetailsFooter)</string>
	<key>AdUnitIdDetailsListFooter</key>
	<string>$(AdUnitIdDetailsListFooter)</string>
	<key>AdUnitIdFavouritesFooter</key>
	<string>$(AdUnitIdFavouritesFooter)</string>
	<key>AdUnitIdForecastFooter</key>
	<string>$(AdUnitIdForecastFooter)</string>
	<key>AdUnitIdHelpFooter</key>
	<string>$(AdUnitIdHelpFooter)</string>
	<key>AdUnitIdMainFooter</key>
	<string>$(AdUnitIdMainFooter)</string>
	<key>AdUnitIdSettingsFooter</key>
	<string>$(AdUnitIdSettingsFooter)</string>
	<key>AmplitudeApiKey</key>
	<string>$(AmplitudeApiKey)</string>
	<key>ApiDomain</key>
	<string>$(API_DOMAIN)</string>
	<key>ApiEnpointCountries</key>
	<string>$(ApiEnpointCountries)</string>
	<key>ApiEnpointCurrentPollutants</key>
	<string>$(ApiEnpointCurrentPollutants)</string>
	<key>ApiEnpointHistoricalPollutants</key>
	<string>$(ApiEnpointHistoricalPollutants)</string>
	<key>ApiEnpointStations</key>
	<string>$(ApiEnpointStations)</string>
	<key>ApiEnpointSuccessAds</key>
	<string>$(ApiEnpointSuccessAds)</string>
	<key>AppCenterAppSecret</key>
	<string>$(AppCenterAppSecret)</string>
	<key>BetaTesterUrl</key>
	<string>$(BetaTesterUrl)</string>
	<key>BugsnagApiKey</key>
	<string>$(BugsnagApiKey)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CUSTOM AD API</key>
	<string>$(CUSTOM_AD_API)</string>
	<key>FORECAST API</key>
	<string>$(FORECAST_API)</string>
	<key>FeedbackUrlEn</key>
	<string>$(FeedbackUrlEn)</string>
	<key>FeedbackUrlZh</key>
	<string>$(FeedbackUrlZh)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(GADApplicationIdentifier)</string>
	<key>GMSServicesApiKey</key>
	<string>$(GMSServicesApiKey)</string>
	<key>HISTORY API</key>
	<string>$(HISTORY_API)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>InAppPurchaseProductId</key>
	<string>$(InAppPurchaseProductId)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Use location to select your nearest air quality monitoring station</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use location to select your nearest air quality monitoring station</string>
	<key>OneSignalAppId</key>
	<string>$(OneSignalAppId)</string>
	<key>PartnerUrlEn</key>
	<string>$(PartnerUrlEn)</string>
	<key>PartnerUrlZh</key>
	<string>$(PartnerUrlZh)</string>
	<key>SentryDSN</key>
	<string>$(SentryDSN)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
